.career-life {
  padding: 58px 0;
  background: linear-gradient(
    270.76deg,
    #e3e7f6 -55.5%,
    rgba(227, 231, 246, 0) 145.36%
  );
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
  &__title {
    max-width: 109px;
    padding-top: 100px;
    margin-bottom: 15px;
  }
  &__subtitle {
    max-width: 323px;
  }
  &__item--info {
    height: 100%;
    margin-bottom: 30px;
  }
  &__item--bottom {
    display: flex;
  }
  &__item-img {
    border-radius: 8px;
  }
  &__item-img--bottom {
    align-self: flex-end;
  }
}

@media only screen and (max-width: 992px) {
  .career-life {
    &__title {
      padding-top: 0;
      text-align: center;
      max-width: 100%;
    }
    &__subtitle {
      text-align: center;
    }
  }
}
