.career-main {
  &__imagebox {
    right: 200px;
  }
}

@media only screen and (max-width: 1400px) {
  .career-main {
    &__imagebox {
      right: 0;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .career-main {
    &__content {
      padding-top: 200px;
    }
  }
}
