.products-main {
  &__imagebox {
    right: 200px;
  }
  &__content {
    padding-top: 272px;
    padding-bottom: 150px;
  }
}

@media only screen and (max-width: 1400px) {
  .products-main {
    &__content {
      padding-bottom: 100px;
    }
    &__imagebox {
      right: 20px;
      bottom: 100px;
    }
    &__image {
      width: 80%;
      margin-left: auto;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .main {
    &__image {
      width: 60%;
    }
  }
}
@media only screen and (max-width: 992px) {
  .products-main {
    text-align: center;
    &__content {
      margin: 0 auto;
    }
    &__buttons {
      justify-content: center;
    }
    &__imagebox {
      display: none;
    }
  }
}
